*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: sans-serif;
    text-decoration: none !important;
    box-sizing: border-box;
}

.form-body{
    font-family: Arial, sans-serif;
    background-color: #0d6efd;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 760px;
}

#register{
    text-align: center;
    font-family:sans-serif;
    font-weight: bolder;
    font-size: 40px;
    color: #0d6efd;
}

form{
    background-color: rgb(255, 255, 255);
    padding: 0px 40px 40px 35px;
    width: 350px;
    border-radius: 5px;
}

.input-div{
    margin-bottom: 15px;
    color: white;
}

label{
    display: block;
    margin-bottom: 5px;
}

.formInput{
    width: 100%;
    padding: 11px;
    font-size: 16px;
    font-weight: 500;
    box-sizing: border-box;
    border-radius: 3px;
    border: none;
    border-bottom: 1px solid rgb(158, 158, 158);
}

.formButton{
    width: 60%;
    font-size: 15px;
    font-weight: bolder;
    display: block;
    margin: 0 auto;
    padding: 10px;
    background-color: #0d6efd;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.formButton:hover{
    background-color: #0656ce;
}

#account{
    margin-top: 10px;
    font-size: 14px;
}